.blue {
  color: #002F6C;
}

.dodgerBlue {
  color: #00559A;
}

.title {
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.logo {
    height: 455px;
    width: 332px;
    background: url("../images/logo.jpg");
    background-repeat: no-repeat;
}
